.navbar{
    background-color: black;
    height: 50px;
    font-family: Tahoma;
    cursor: pointer;
}
.navbar-list{
    color: white;
    list-style: none;
    display: flex;
    height: 50px;
    padding-left: 0;
}
.navbar-list li{
    padding: 15px 20px;
    position: relative;
}
.list-product{
    color: black;
    box-shadow: 5px 5px 10px #AAA;
    top: 50px;
    right: -60px;
    display: none; 
    position: absolute;
    background-color: white;
    padding: 0;
    list-style: none;
}
.list-product li{
    padding: 10px 90px 10px 10px;
}
.navbar-list > li:hover .list-product{
    display: block;
}
.navbar-list > li:hover{
    background-color: red;
}